{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<div class="row">
	<div class="col-sm-1 col-md-2"></div>
	<div class="search-form-top col-sm-10 col-md-8">
		<form{{ attributes }}>
			{{ children }}
		</form>

	</div>
	<div class="col-sm-1 col-md-2"></div>
</div>