{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
<div class="row">
{% if logged_in %}
<div class="col-sm-12 account-menu-search">
<form action="/search/node" method="get" id="search-block-form" accept-charset="UTF-8">
<input type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128" style="color:black;" placeholder="search" class="form-search form-search-main" />
</form>
</div>
<div class="col-lg-7 account-menu-greeting">
<a href="/member-profile" data-drupal-link-system-path="user">Hi {{ bajapsa_username }}!</a>
</div>
<div class="col-lg-5 account-menu-logout">
<a href="/user/logout" data-drupal-link-system-path="user/logout">Log out</a>
</div>
{% else %}
<div class="col sm-12 account-menu-login">
<a href="/caslogin" data-drupal-link-system-path="user/login">Log in</a>
</div>
{% endif %}
</div>
