@charset "UTF-8";
/*

BAJAPSA Styles

*/
/* Import Base Fonts */
@import url(https://fonts.googleapis.com/css?family=Lato|Roboto:300,300i,400,400i,700,700i);
/* apsa color palette */
/* opacity of page header color overlays */
/* breakpoints */
/* @media (max-width: $break-sm) { ... }
@media (min-width: $break-sm-down) { ... }
@media (max-width: $break-md) { ... }
@media (min-width: $break-md-down) { ... }
@media (max-width: $break-lg) { ... }
@media (min-width: $break-lg-down) { ... } */
/* Reset
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Body & Main
================================================== */
/* bumped base font size up to 16px from 14px */
body {
  nowhitespace: afterproperty;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font: 16px/1.8 'Lato', 'Roboto', Arial, Helvetica, sans-serif;
  color: #606060; }

/* Links */
a {
  color: #498fe1; }
  a:visited {
    color: #498fe1; }
  a:hover, a:focus, a:active {
    color: #003F64;
    text-decoration: none; }

/* remove blue glow on focus */
input:focus, textarea:focus, summary:focus, details:focus {
  outline: none; }

/*set max img width*/
img {
  max-width: 100%; }

article img {
  margin-right: 20px !important;
  margin-bottom: 15px; }

/* Commons
================================================== */
/*clear floats*/
.remove-margin {
  margin-right: 0 !important; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clear {
  clear: both; }

/*blockquote*/
blockquote {
  position: relative;
  margin: 30px 20px;
  padding-left: 25px;
  font-style: italic;
  font-weight: bold;
  color: #000;
  quotes: "“" "”" "‘" "’"; }

blockquote:before {
  color: #000;
  content: open-quote;
  font-size: 3em;
  line-height: .1em;
  position: absolute;
  top: 20px;
  left: -10px; }

blockquote p:last-child {
  margin: 0; }

/*preformatted text*/
pre {
  background: #fff url("images/pre-bg.png") repeat;
  margin: 40px 0px;
  padding: 25px 20px;
  line-height: 25px;
  border: 1px solid #ddd;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

ul, ol {
  margin: 0 0 1em 1.5em; }

ul {
  list-style: disc; }

ol {
  list-style-type: decimal; }

ol ol {
  list-style: upper-alpha; }

ol ol ol {
  list-style: lower-roman; }

ol ol ol ol {
  list-style: lower-alpha; }

ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

th {
  font-weight: bold;
  padding: 10px 10px; }

tr {
  padding: 5px 5px; }

td {
  padding: 5px 10px; }

#primary table {
  margin: 0 0 1.5em;
  width: 100%;
  border-right: none;
  background: #fff; }

#primary th {
  font-weight: bold;
  padding: 20px 10px;
  text-align: center;
  border-top: none; }

#primary tr {
  padding: 5px 5px; }

#primary td {
  padding: 15px 10px;
  border-top: none;
  border-right: 1px solid #ddd; }

/* Leadership Table */
.table-leadership table {
  border: none; }

.table-column-leadership {
  width: 16%; }

.tablehead-leadership {
  font-weight: bold;
  padding: 20px 10px;
  background: #555;
  color: #606060;
  text-align: center; }

.table > thead > tr > th {
  border-bottom: none; }

.table-leadership tr > td > a {
  font-size: 1.125em; }
  @media (min-width: 992px) {
    .table-leadership tr > td > a {
      font-size: 1.25em; } }

/* style inline instead in case the table footer is not used 
.table-leadership tr:last-child > td {
	border-right: none;
} */
/* Typography
================================================== */
/* Headings */
h1, h2, h3, h4, h5, h6 {
  clear: both; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

p {
  margin: 0 0 20px; }

p img {
  margin: 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

small {
  font-size: 80%; }

hr {
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

p a, p a:visited {
  line-height: inherit; }

a:link {
  text-decoration: none; }

a:focus {
  outline: 0; }

a {
  outline: 0; }

p a, p a:visited {
  line-height: inherit; }

a:focus {
  outline: 0; }

/* Head */
#masthead {
  position: relative; }

.site-branding {
  margin-top: 20px;
  margin-bottom: 20px; }

#site-logo {
  float: left;
  padding: 15px 15px 0 0; }

h1#site-title {
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 18px;
  clear: none; }

h1#site-title a:link, h1#site-title a:visited {
  color: #000; }

.site-header {
  background-color: #003F64;
  color: #FFF; }

.c-menu-main {
  width: 100%;
  text-align: center; }
  .c-menu-main > li {
    float: none;
    display: inline-block; }

#main-menu .c-menu-main__item--active-trail {
  font-weight: 700;
  border-bottom: #EC1C24 2px solid; }

li ul li.c-menu-main__item--active-trail {
  border-bottom: none; }

/* Menu */
.menutoggle {
  width: 36px;
  height: 36px;
  color: #777;
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 36px;
  text-align: center;
  background: #fff;
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 20px;
  display: none; }

#main-menu {
  min-width: 450px;
  width: 100%;
  padding: 0px 0px;
  margin-left: auto;
  margin-top: 22px;
  margin-right: auto;
  margin-bottom: 15px;
  height: 45px;
  border-bottom: none;
  float: left; }
  #main-menu ul {
    width: 100%;
    float: none;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0 0px; }
  #main-menu li {
    float: none;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 1.42857em;
    line-height: 1.42857em;
    font-weight: 400; }
    #main-menu li a {
      color: #FFF;
      display: block;
      margin: 0;
      padding: 19px 10px 19px 10px;
      text-decoration: none;
      position: relative; }

#main-menu li a:hover, #main-menu li a:active, #main-menu a.active, #main-menu > ul > li > a.active-trail {
  color: #eee; }

#main-menu li a.sf-with-ul {
  padding-right: 10px; }

#main-menu li ul li a, #main-menu li ul li a:link, #main-menu li ul li a:visited,
#main-menu li ul li ul li a, #main-menu li ul li ul li a:link, #main-menu li ul li ul li a:visited,
#main-menu li ul li ul li ul li a, #main-menu li ul li ul li ul li a:link, #main-menu li ul li ul li ul li a:visited {
  color: #777;
  width: 148px;
  margin: 0;
  padding: 10px 10px;
  border-top: 1px solid #ddd;
  border-bottom: none;
  position: relative;
  font-weight: 400; }

#main-menu ul li ul li:first-child a, #main-menu ul li ul li ul li:first-child a, #main-menu ul li ul li ul li ul li:first-child a {
  border-top: none; }

#main-menu li ul li a:hover, #main-menu li ul li ul li a:hover, #main-menu li ul li ul li ul li a:hover {
  color: #498fe1; }

#main-menu li ul {
  font-size: 12px;
  z-index: 9999;
  position: absolute;
  left: -999em;
  height: auto;
  width: 160px;
  margin: 0px 0px 0px 0px;
  padding: 5px 5px;
  background: #efefef; }

#main-menu li ul a {
  width: 150px; }

#main-menu li ul ul {
  margin: -44px 0 0 160px; }

#main-menu li:hover ul ul, #main-menu li:hover ul ul ul, #main-menu li.sfHover ul ul, #main-menu li.sfHover ul ul ul {
  left: -999em; }

#main-menu li:hover ul, #main-menu li li:hover ul, #main-menu li li li:hover ul, #main-menu li.sfHover ul, #main-menu li li.sfHover ul, #main-menu li li li.sfHover ul {
  left: auto; }

#main-menu li:hover, #main-menu li.sfHover {
  position: static; }

#main-menu > ul > li > a {
  padding: 10px; }

ul.top-menu > li {
  text-transform: uppercase;
  max-width: 215px; }
  ul.top-menu > li ul li {
    text-transform: capitalize; }

.top-menu {
  font-size: 0.875em; }
  @media (max-width: 992px) {
    .top-menu {
      font-size: 0.75em; } }

/* account login menu */
.account-login {
  padding: 20px 10px;
  margin: 22px 0px 15px; }
  .account-login ul {
    list-style: none; }
  .account-login a, .account-login a:visited {
    color: #498fe1; }
  .account-login a:hover {
    color: #8db3df; }
  .account-login > li {
    display: inline-block; }

.account-menu-login, .account-menu-logout, .account-menu-greeting {
  padding-right: 5px;
  padding-left: 5px;
  text-align: left; }

@media (min-width: 1200px) {
  .account-menu-logout {
    text-align: right;
    min-width: 63px; } }

/* search field */
.form-search {
  border: 1px solid #003F64;
  padding: 18px 6px;
  height: 32px;
  border-radius: 10px;
  outline: none; }
  .form-search-main {
    border: 2px solid #498fe1;
    width: 100%; }
  .form-search-lg {
    padding: 22px 8px;
    height: 40px;
    border-radius: 15px; }

.btn-search-lg {
  background-image: none;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  box-shadow: none;
  color: #498fe1;
  text-shadow: none;
  position: relative;
  top: -2px;
  font-weight: bold;
  padding: 8px .8em 8px .8em;
  font-size: 13px; }

/* Layout */
#primary, #sidebar {
  padding-top: 20px;
  padding-bottom: 20px; }

#main-content {
  padding-top: 15px; }

/* Slider */
#slidebox {
  max-height: 550px;
  position: relative;
  background: #000; }

.doverlay {
  background: url(../images/overlay.png);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 100; }

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */ }

.flex-caption {
  width: 800px;
  position: absolute;
  top: 28%;
  left: 50%;
  margin-left: -400px;
  text-align: center;
  z-index: 120;
  color: #fff; }

.flex-caption h2 {
  text-transform: uppercase;
  font-size: 36px;
  color: #fff; }

.flex-caption h2 a:link, .flex-caption h2 a:visited {
  color: #fff; }

.flex-caption p {
  font-size: 16px; }

a.frmore {
  background: rgba(255, 255, 255, 0.2);
  display: block;
  text-transform: uppercase;
  color: #fff;
  width: 150px;
  border: 1px solid #fff;
  padding: 5px 0px;
  margin: 10px auto;
  font-weight: bold;
  color: #fff !important; }

#preface-area {
  background: none repeat scroll 0 0 #ED564B;
  border-bottom: 5px solid #F96B61;
  border-top: 5px solid #F96B61;
  padding: 40px 0 20px; }

.preface-block {
  color: #fff;
  text-align: center; }

.preface-block .block > h2 {
  font-size: 24px;
  font-weight: bold; }

#header-block, #footer-block {
  padding: 20px 0 0; }

#bottom {
  padding: 20px 0px 40px 0px;
  background: #3b3b3b;
  border-top: 5px solid #ed564b; }

.footer-block {
  color: #aaa; }

.footer-block .block > h2 {
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px 0px;
  color: #fff;
  text-transform: uppercase; }

/* Content */
.lead {
  font-size: 1.25rem;
  font-weight: 300; }

/* Footer */
/* .site-footer{
  padding: 10px 0px;
  background:#292929;
  font-size: 12px;
} */
/* .fcred{
  padding: 10px 0px;
  color: #bbb;
}

.fcred a:link, .fcred a:visited{
  color:#fff;
} */
/* Content
----------------------------------------------- */
.node h2.title a, h1.page-title {
  color: #000000;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px; }

#content .node-teaser {
  padding-bottom: 30px;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 15px; }

.node-teaser img {
  border: 1px solid #CCCCCC;
  padding: 6px;
  height: auto;
  max-width: 97.4%;
  margin: 0.5em 1em 0.5em 0;
  float: left; }

.page-node #content-wrap img {
  border: 1px solid #CCCCCC;
  padding: 6px;
  height: auto;
  max-width: 97.4%;
  margin: 0.5em 1em 0.5em 0; }

.region-content-top {
  margin-bottom: 20px; }

#sidebar .block {
  margin-bottom: 30px; }

#sidebar .block > h2 {
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold; }

.preface-block .block, .footer-block .block, .region-footer .block, .region-header .block, .region-content-top .block {
  margin-bottom: 30px; }

/* apsa adjustments */
#main-content {
  padding-top: 0; }

#primary {
  padding-top: 0; }
  #primary #content {
    padding-right: 1.0em;
    padding-left: 1.0em; }

/* -------------- Form Elements  ------------- */
fieldset {
  background: #ffffff;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 0 0 10px;
  position: relative;
  top: 12px;
  /* Offsets the negative margin of legends */
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.fieldset-wrapper {
  margin-top: 25px; }

.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0; }

.filter-wrapper {
  top: 0;
  padding: 1em 0 0.2em;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.filter-help a {
  font-size: 0.857em;
  padding: 2px 20px 0; }

.filter-wrapper .form-item label {
  margin-right: 10px; }

.filter-wrapper .form-item {
  padding: 0 0 0.5em 0.5em; }

.filter-guidelines {
  padding: 0 1.5em 0 0.5em; }

fieldset.collapsed {
  background: transparent;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

fieldset legend {
  background: #dbdbdb;
  border: 1px solid #ccc;
  border-bottom: none;
  display: block;
  height: 2em;
  left: -1px;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  text-shadow: 0 1px 0 #fff;
  top: -12px;
  width: 100%;
  -khtml-border-radius-topleft: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px; }

fieldset.collapsed legend {
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

fieldset .fieldset-wrapper {
  padding: 0 10px; }

fieldset .fieldset-description {
  margin-top: 5px;
  margin-bottom: 1em;
  line-height: 1.4;
  font-style: italic; }

input {
  margin: 2px 0;
  padding: 4px; }

input, textarea {
  font-size: 0.929em; }

textarea {
  line-height: 1.5; }

textarea.form-textarea, select.form-select {
  padding: 4px; }

input.form-text, textarea.form-textarea, select.form-select {
  border: 1px solid #ccc; }

.password-suggestions ul li {
  margin-left: 1.2em; }

.form-item {
  margin-bottom: 1em;
  margin-top: 2px; }

.form-item label {
  font-size: 0.929em; }

.form-type-radio label, .form-type-checkbox label {
  margin-left: 4px; }

.form-type-radio .description, .form-type-checkbox .description {
  margin-left: 2px; }

.form-actions {
  padding-top: 10px; }

/* Contact Form */
.contact-form #edit-name {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.contact-form #edit-mail {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.contact-form #edit-subject {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.contact-form #edit-message {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -khtml-border-top-left-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.contact-form .resizable-textarea .grippie {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -khtml-border-bottom-left-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

/* Comment form */
.comment-form label {
  float: left;
  font-size: 0.929em; }

.comment-form input, .comment-form .form-select {
  margin: 0;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.comment-form .form-type-textarea label {
  float: none; }

.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select {
  margin-bottom: 10px;
  overflow: hidden; }

.comment-form .form-type-checkbox,
.comment-form .form-radios {
  margin-left: 120px; }

.comment-form .form-type-checkbox label,
.comment-form .form-radios label {
  float: none;
  margin-top: 0; }

.comment-form input.form-file {
  width: auto; }

.comment-form .form-text {
  display: block;
  margin: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.comment-form .form-item .description {
  font-size: 0.786em;
  line-height: 1.2;
  margin-left: 120px; }

#content h2.comment-form {
  margin-bottom: 0.5em; }

.comment-form .form-textarea {
  -khtml-border-radius-topleft: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.comment-form fieldset.filter-wrapper .fieldset-wrapper,
.comment-form .text-format-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0; }

.filter-wrapper label {
  width: auto;
  float: none; }

.filter-wrapper .form-select {
  min-width: 120px; }

.comment-form fieldset.filter-wrapper .tips {
  font-size: 0.786em; }

#comment-body-add-more-wrapper .form-type-textarea label {
  margin-bottom: 0.4em; }

#edit-actions input {
  margin-right: 0.6em; }

/* Other Overrides */
div.password-suggestions {
  border: 0; }

.ui-widget-overlay {
  background: #222222;
  opacity: 0.7; }

div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  padding: 1em; }

#forum .name {
  font-size: 1.083em; }

#forum .description {
  font-size: 1em; }

/* Form Buttons */
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-image: none;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  box-shadow: none;
  color: #333333;
  text-shadow: none;
  position: relative;
  font-weight: bold;
  padding: 4px .8em 5px .8em;
  font-size: 14px; }

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-image: none;
  box-shadow: none;
  cursor: pointer; }

button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center; }

#block-search-form {
  padding-bottom: 7px; }

#block-search-form .content {
  margin-top: 0; }

#search-form .form-item-keys label {
  display: block; }

ol.search-results {
  padding-left: 0; }

.search-results li {
  border-bottom: 1px solid #d3d7d9;
  padding-bottom: 0.4285em;
  margin-bottom: 0.5em; }

.search-results li:last-child {
  border-bottom: none;
  padding-bottom: none;
  margin-bottom: 1em; }

.search-results .search-snippet-info {
  padding-left: 0; }

.meta {
  margin: 5px 0 10px 0; }

.meta a {
  color: #999; }

.meta a:hover {
  color: #000; }

.meta li {
  display: inline;
  margin-right: 5px;
  margin-right: 10px; }

.meta strong {
  font-weight: 600;
  color: #111; }

.meta li:last-child {
  margin-right: 0;
  padding-right: 0;
  background: none; }

.links li a {
  background-color: #E7E5E3;
  color: #100100;
  padding: 4px 5px;
  border-radius: 4px;
  text-shadow: 1px 1px #fff;
  font-weight: normal; }

.links li a:hover {
  background-color: #D7D5D3;
  color: #100101; }

/* search form top */
.search-form-top {
  padding-top: 1.6em;
  padding-right: 1.2em;
  padding-left: 1.4em; }
  .search-form-top .form-search {
    width: 80%; }
  .search-form-top .form-submit {
    width: 18%; }
  .search-form-top input[type="submit"] {
    background-image: none;
    border: 1px solid #003F64;
    border-radius: 10px;
    box-shadow: none;
    background-color: #498fe1;
    color: #fff;
    text-shadow: none;
    position: relative;
    top: -2px;
    font-weight: bold;
    padding: 7px .8em 8px .8em;
    font-size: 13px;
    transition: background-color 0.5s ease; }
    .search-form-top input[type="submit"]:hover {
      background-color: #1c5ca8; }

/* button style overrides */
.btn {
  font-size: 16px;
  font-weight: 700; }

/* front page buttons */
.btn-front-page {
  font-size: 1.125em;
  min-width: 160px;
  background-color: #EC1C24;
  border-color: #c51017; }
  .btn-front-page:hover, .btn-front-page:focus, .btn-front-page:active {
    background-color: #c51017;
    border-color: #950d12; }
  .btn-front-page a, .btn-front-page a:visited {
    color: #fff; }
  .btn-front-page a:hover {
    color: #eee; }

.btn-outline-secondary {
  color: #ccc;
  background-image: none;
  background-color: transparent;
  border-color: #ccc; }
  .btn-outline-secondary:hover {
    color: #003F64;
    background-color: rgba(255, 255, 255, 0.8); }
  .btn-outline-secondary:visited, .btn-outline-secondary:focus {
    color: #ccc;
    background-image: none;
    background-color: transparent;
    border-color: #ccc; }

/* checkbox styles */
/* modified from: https://bootsnipp.com/snippets/featured/animated-radios-amp-checkboxes-nojs */
/*

  Radio button code

    <label>
      <input type="radio" name="o3" value="">
      <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
      Radio Button
    </label>
*/
.checkbox label:after,
.radio label:after {
  content: '';
  display: table;
  clear: both; }

.checkbox .cr,
.radio .cr {
  position: relative;
  top: 3px;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.4em;
  height: 1.4em;
  float: left;
  margin-right: .5em; }

.radio .cr {
  border-radius: 50%; }

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: .9em;
  line-height: 0;
  top: 50%;
  left: 20%; }

.radio .cr .cr-icon {
  margin-left: 0.04em; }

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none; }

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(1.5);
  opacity: 0;
  transition: all .3s ease-in; }

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1.2);
  opacity: 1; }

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: .5; }

.checkbox label, .radio label {
  padding-left: 0; }

/*-------------------------------------------*
/* Fix CKEditor style
/*-------------------------------------------*/
#content table.cke_editor {
  background: transparent;
  border: 0; }

#content table.cke_editor td {
  background: transparent;
  padding: 0;
  border: 0; }

/*-------------------------------------------*
/* Poll, Buttons, Form
/*-------------------------------------------*/
.poll .vote-form .choices .title {
  font-size: 14px;
  font-weight: normal;
  line-height: 2; }

.poll .vote-form .choices {
  margin: 0; }

.form-item label {
  font-size: 13px;
  font-weight: bold; }

/*-------------------------------------------*
/* Menus and item lists
/*-------------------------------------------*/
.item-list ul {
  margin: 0;
  padding: 0 0 0 1.5385em; }

.item-list ul li {
  margin: 0;
  padding: 0; }

ul.menu li {
  margin: 0;
  padding: 0; }

ul.inline {
  clear: both; }

ul.inline li {
  display: inline;
  list-style: none;
  margin: 0 2px;
  padding: 0; }

/*-------------------------------------------*
/* Admin Tabs
/*-------------------------------------------*/
.tabs-wrapper {
  border-bottom: 1px solid #b7b7b7;
  margin: 5px 0 5px 0; }

ul.primary li {
  display: inline; }

ul.primary {
  border: none;
  margin: 0;
  padding: 0; }

ul.primary li a {
  background: none;
  border: none;
  display: block;
  float: left;
  line-height: 1.5385em;
  margin: 0;
  padding: 0 1em;
  border-radius: 4px 4px 0 0;
  margin-right: 5px; }

ul.primary li a:hover, ul.primary li a.is-active {
  background: #666;
  border: none;
  color: #fff; }

ul.primary li a:hover {
  background: #888;
  text-decoration: none; }

ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0; }

ul.secondary li {
  display: inline;
  border-right: none; }

ul.secondary li a, ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5385em;
  padding: 0 1em; }

ul.secondary li a:hover, ul.secondary li a.is-active {
  background: #888;
  color: #fff;
  text-decoration: none; }

ul.secondary a.active {
  border-bottom: none; }

ul.inline, ul.links.inline {
  margin-left: 0; }

/*-------------------------------------------*
/* Tabs and Tags
/*-------------------------------------------*/
.field-name-field-tags {
  margin: 0 0 10px 0; }

.field-name-field-tags a {
  background: #ed564b;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  color: #fff;
  padding: 2px 6px; }

.field-name-field-tags a:hover {
  background: #111;
  color: #fff; }

.field-name-field-tags div {
  display: inline; }

/*-------------------------------------------*
/* Profile
/*-------------------------------------------*/
.profile {
  margin: 1.5385em 0; }

.profile dd {
  margin-bottom: 1.5385em; }

.profile h3 {
  border: none; }

.profile dt {
  margin-bottom: 0; }

.password-parent {
  width: 36em; }

/* Comments */
.comment h2.title {
  margin-bottom: 1em; }

.comment div.user-picture img {
  margin-left: 0; }

.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top; }

.comment .attribution {
  display: table-cell;
  padding: 0 35px 0 0;
  vertical-align: top;
  overflow: hidden; }

.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9; }

.comment .attribution .username {
  white-space: nowrap; }

.comment .comment-submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2; }

.comment .comment-submitted .comment-time {
  font-size: 0.786em; }

.comment .comment-submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase; }

.comment .content {
  font-size: 0.929em;
  line-height: 1.6; }

.comment .comment-arrow {
  background: url(../images/comment-arrow.gif) no-repeat 0 center transparent;
  border-left: 1px solid;
  border-right: 1px solid;
  height: 40px;
  margin-left: -36px;
  margin-top: 15px;
  position: absolute;
  width: 22px; }

.comment .comment-text {
  padding: 0 25px 10px 35px;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
  border-left: 1px solid #d3d7d9; }

.comment .indented {
  margin-left: 40px; }

.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px; }

.comment .comment-text .comment-arrow {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff; }

.comments .indented {
  margin-left: 40px; }

.comments img {
  max-width: none; }

/*-------------------------------------------*
/* Forum
/*-------------------------------------------*/
.field-name-taxonomy-forums div {
  display: inline;
  margin-top: 4px; }

#forum .title {
  font-size: 16px; }

#forum .submitted {
  font-size: 12px;
  font-family: Lucida Grande, Verdana, Arial, sans-serif;
  background: transparent;
  padding: 0; }

#forum .container {
  background: #a1a1a1;
  color: #fff; }

#forum .container a {
  color: #000;
  font-weight: bold; }

#forum div.indent {
  margin-left: 2px; }

.forum-starter-picture {
  float: left;
  padding: 4px;
  border: 1px solid #d9d9d9;
  margin: 5px 7px 5px 0; }

#forum th {
  background: #434343;
  text-shadow: none;
  color: #fff; }

#forum th a {
  color: #fff; }

#forum td.forum .icon, #forum .icon div {
  background: url(images/no-new-posts.png) no-repeat;
  width: 35px;
  height: 35px; }

#forum .name a {
  font-size: 16px; }

/*-------------------------------------------*
/* Breadcrumbs
/*-------------------------------------------*/
.breadcrumb > li + li:before {
  content: "»"; }

.breadcrumb {
  padding: 10px 15px 10px 0;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 0; }
  .breadcrumb i {
    padding-right: 5px;
    font-size: 1.3em;
    color: #999; }

@media (max-width: 992px) {
  .flex-caption {
    top: 50%;
    margin-top: -84px;
    padding: 0 150px; }
  .flex-direction-nav .flex-prev,
  .flex-direction-nav .flex-next {
    z-index: 1000; }
  .flex-direction-nav .flex-prev:hover,
  .flex-direction-nav .flex-next:hover {
    z-index: 1012; } }

@media screen and (max-width: 768px) {
  html {
    font-size: 60%; }
  h1#site-title {
    text-align: center; }
  #site-logo {
    padding-top: 0; }
  select.mnav {
    width: 100%;
    margin-bottom: 20px; }
  #main-menu {
    display: none; }
  /*.flex-caption{
    display: none;
  }*/ }

@media (max-width: 640px) {
  .flex-direction-nav a {
    width: 40px;
    height: 50px;
    /*margin: -50px 0 0;*/
    display: block;
    background-image: url(../images/bg_direction_nav.png);
    position: absolute;
    top: 50%;
    z-index: 110;
    cursor: pointer;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: top -24px left -6px;
    margin-top: -30px; }
  .flex-direction-nav .flex-next {
    background-position: top -24px left -53px; }
  .flexslider:hover .flex-next:hover,
  .flexslider:hover .flex-prev:hover {
    background-position-y: -124px; }
  .flex-caption {
    margin-top: -66px;
    padding: 0 210px;
    line-height: normal; }
  .flex-caption h2 {
    font-size: 26px; } }

@media (max-width: 480px) {
  .flex-direction-nav a {
    width: 28px;
    background-size: 70px;
    background-position: top -10px left -4px; }
  .flex-direction-nav .flex-next {
    background-position: top -10px left -38px; }
  .flexslider:hover .flex-next:hover,
  .flexslider:hover .flex-prev:hover {
    background-position-y: -80px; }
  .flex-caption {
    padding: 0px 242px;
    font-size: 13px; }
  .flex-caption h2 {
    font-size: 19px; }
  .flex-caption a.frmore {
    margin-top: 5px; } }

@media (max-width: 380px) {
  .flex-caption {
    padding: 0px 272px; } }

/*-------------------------------------------*
/*
/* Styles from APSA-Nexus
/*
/*-------------------------------------------*/
/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* ----- containers ----- */
/*
.container-fluid {
	padding-left: 2em;
	padding-right: 2em;
}
*/
.col-sm-12 {
  padding-left: 0;
  padding-right: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.page-header-container.container-fluid {
  padding-right: 0;
  padding-left: 0; }

.page-header-section {
  padding: 30px 45px;
  height: 244px;
  width: 100%;
  display: inline-block;
  background-image: url(../images/apsa-header-image-1600.jpg);
  background-size: cover;
  background-position: left center;
  position: relative;
  vertical-align: top;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .page-header-section {
      height: 200px; } }
  .page-header-section-about:before {
    background-color: rgba(200, 100, 2, 0.7); }
  .page-header-section-agenda:before {
    background-color: rgba(200, 100, 2, 0.7); }
  .page-header-section-agreement:before {
    background-color: rgba(200, 100, 2, 0.7); }
  .page-header-section-bylaws:before {
    background-color: rgba(236, 28, 36, 0.7); }
  .page-header-section-policy:before {
    background-color: rgba(200, 100, 2, 0.7); }
  .page-header-section-minutes:before {
    background-color: rgba(236, 28, 36, 0.7); }
  .page-header-section-news:before {
    background-color: rgba(200, 100, 2, 0.7); }
  .page-header-section-report:before {
    background-color: rgba(74, 148, 1, 0.7); }
  .page-header-section-strategic_plan:before {
    background-color: rgba(0, 63, 100, 0.7); }
  .page-header-section-general:before {
    background-color: rgba(73, 143, 225, 0.7); }

.overlay:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0; }

.page-header-section * {
  position: relative; }

.page-header-title {
  text-transform: uppercase;
  font-size: 2.0em;
  font-weight: 700; }

/* temporary hack to remove white line while no breadcrumb displayed */
.page-header-container {
  top: -1px;
  position: relative; }

/* subhead committee membership section */
.label-chair, .label-members {
  font-weight: 500; }

.label-names a {
  color: #eee; }
  .label-names a:hover {
    color: #fff;
    text-decoration: underline; }

/* ----- front page ----- */
.front-page__section {
  padding: 3rem 0 4rem;
  font-size: 1.1rem; }

/*
  .fa:after {
	  content:'';
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 180px;
	  width: 180px;
	  border-radius: 50%;
	  border-width: .25em;
	  border-color: $apsa-light-blue;
	  border-style: solid;
	}

	*/
/* font-awesome outline *
	.custom-icon {
  background: #666;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  border: 6px solid #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
  color: #fff;
  display: table-cell;
  font-size: 45px;
  height: 60px;
  padding: 30px;
  text-align: center;
  transition: .5s;
  vertical-align: middle;
  width: 60px;
}
.custom-icon:hover {
  background: rgba(0, 0, 0, 0.6);
}
.fix-editor {
  display: none;
}
.icon-wrapper {
  display: inline-block;
}

*/
/* Featured Links */
.front-page__section-featured-links {
  color: #498fe1;
  background: #003F64;
  text-align: center;
  padding: 3rem 0 4rem; }
  .front-page__section-featured-links h4, .front-page__section-featured-links h4 a {
    color: #498fe1; }
    .front-page__section-featured-links h4:hover, .front-page__section-featured-links h4 a:hover {
      color: #2375d4;
      transition: .4s; }
  .front-page__section-featured-links .featured-link {
    margin: 0 auto;
    padding: 20px; }
    .front-page__section-featured-links .featured-link .fa {
      font-size: 48px;
      font-size: 3rem;
      margin-bottom: 1rem;
      color: #498fe1;
      border-radius: 100%;
      border: 5px solid #498fe1;
      height: 120px;
      width: 120px;
      vertical-align: middle;
      text-align: center;
      padding: 30px; }
      .front-page__section-featured-links .featured-link .fa:hover {
        color: #2375d4;
        border: 5px solid #2375d4;
        transition: .4s; }
      @media screen and (max-width: 768px) {
        .front-page__section-featured-links .featured-link .fa {
          border: 4px solid #498fe1;
          height: 70px;
          width: 70px;
          padding: 15px; }
          .front-page__section-featured-links .featured-link .fa:hover {
            border: 4px solid #2375d4;
            transition: .4s; } }
    .front-page__section-featured-links .featured-link .fa-file-text-o {
      padding: 30px 25px 30px 35px; }
      @media screen and (max-width: 768px) {
        .front-page__section-featured-links .featured-link .fa-file-text-o {
          padding: 15px 10px 15px 20px; } }
    .front-page__section-featured-links .featured-link h4 {
      max-width: 180px;
      margin: 0 auto; }
  .front-page__section-featured-links .row {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto; }
  .front-page__section-featured-links .container {
    margin-bottom: 1rem; }
    @media screen and (min-width: 40em) {
      .front-page__section-featured-links .container {
        margin-bottom: 0; } }

/* APSA Is */
.front-page__section-apsa-is {
  height: 360px;
  padding: 20px 0px 40px 0px;
  background-color: #498fe1;
  background: url(../images/apsa-apsa-is-image-3.png) #498fe1 right no-repeat;
  color: #fefefe; }
  .front-page__section-apsa-is h2 {
    color: #fff;
    font-size: 64px;
    font-size: 3.5556em;
    font-weight: 900;
    margin-bottom: -0.24em; }
  .front-page__section-apsa-is .views-field-title {
    font-size: 2.875em;
    font-weight: 900; }

/* Workplace Assistance */
.front-page__section-assistance {
  background-color: #fff;
  color: #333; }
  .front-page__section-assistance h2 {
    color: #498fe1;
    font-weight: 700; }

/* ----- page ----- */
h1.page-title {
  color: #003F64;
  text-align: left; }

h2 {
  font-weight: 600;
  color: #003F64; }

.page-text-main p:first-child {
  font-size: 1.2857em; }

.committee-subtitle {
  color: #003F64;
  font-weight: 600; }

.committee-block .item-list {
  font-size: 1.2857em;
  padding-bottom: 2em; }
  .committee-block .item-list ul {
    list-style: none; }

.form-details {
  text-align: center; }

.content-top {
  font-size: 1.5em;
  padding-bottom: 2em; }

.field-about-committee {
  padding-bottom: 1.1em;
  color: #003F64;
  line-height: 1.8em; }

.documents-list ul {
  list-style: none; }
  .documents-list ul li {
    padding: .9em 0; }

.documents-list .views-field-title {
  font-size: 1.286rem;
  display: inline-block; }

.documents-list .views-field-timestamp {
  color: #EC1C24;
  display: inline-block;
  padding-left: 8px; }

.view-foundation-document {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
  border-bottom: #ddd solid 1px; }
  .view-foundation-document:last-child {
    border-bottom: none;
    padding-bottom: 3em; }
  .view-foundation-document .field-content {
    padding: 20px 20px; }
    @media (min-width: 992px) {
      .view-foundation-document .field-content {
        padding: 20px 50px; } }

.committee-guiding-statement {
  border-top: #498fe1 solid 2px;
  border-bottom: #498fe1 solid 2px;
  padding: 25px 0;
  margin-top: 2.4em;
  margin-bottom: 2.6em; }
  .committee-guiding-statement h3 {
    display: inline-block;
    padding-left: 0.7em;
    font-size: 1.5em;
    color: #003F64;
    text-transform: uppercase; }
  .committee-guiding-statement details ul, .committee-guiding-statement details ol {
    line-height: 2.4em; }
  .committee-guiding-statement .collapse-text-text {
    padding-bottom: 0.8em;
    padding: 0.8em 2.4em 0; }

/* ----- sidebar ----- */
#sidebar {
  padding-top: 100px; }

.sidebar-contact {
  margin: 2em 0 2em 1.5em;
  color: #fff;
  background-color: #c86402;
  padding: 1em 1.5em 1.5em; }
  .sidebar-contact h2 {
    color: #fff; }
  .sidebar-contact h5 {
    font-weight: 600;
    margin-left: 18px; }
  .sidebar-contact a {
    color: #f3f3f3; }
    .sidebar-contact a:hover {
      color: #fff;
      text-decoration: underline; }
  .sidebar-contact ul {
    list-style: none; }

/* sidebar menu */
.menu-links-about ul {
  list-style-type: none;
  border-top: #333 solid 2px;
  border-bottom: #333 solid 2px; }

.menu-links-about li {
  font-size: 1.2em;
  padding: 10px;
  border-bottom: #333 solid 1px; }

.menu-links-about :nth-last-child {
  border-bottom: none; }

.menu-links-about .is-active {
  font-weight: 600;
  color: #003F64; }

/* ----- jumbotron ----- */
.jumbotron {
  background: url(../images/apsa-header-image-1600.jpg) center no-repeat;
  background-size: cover;
  height: 600px;
  margin-bottom: 0; }
  .jumbotron p {
    font-size: 18px; }

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0; }

.slider-text-container {
  padding: 20px 50px 35px;
  background-color: rgba(255, 255, 255, 0.8); }

.views-field-type {
  margin-left: -50px;
  margin-bottom: 25px;
  position: relative; }

.views-field-type > .field-content {
  color: #fff;
  text-transform: uppercase;
  padding: 10px 45px;
  background-image: -webkit-linear-gradient(170deg, rgba(236, 28, 36, 0) 10%, #ec1c24 10%); }

.views-field-body {
  text-align: center; }

.views-field-title {
  font-size: 26px;
  text-align: center; }
  .views-field-title a, .views-field-title a:visited {
    color: #003F64; }
  .views-field-title a:hover {
    color: #005f97; }

.views-field-view-node {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px; }

.btn-slider-link {
  background-color: #EC1C24;
  padding-right: 20px;
  padding-left: 20px; }
  .btn-slider-link:hover {
    background-color: #c51017; }
  .btn-slider-link a {
    color: #fff; }
    .btn-slider-link a:hover {
      color: #eee; }

/* ----- footer ----- */
.apsa-footer {
  padding: 30px 0px 40px 0px;
  background-color: #003F64;
  background-image: -webkit-linear-gradient(170deg, #EC1C24 40%, #003F64 40%);
  color: white;
  /* ul li .c-menu-main__link {
		text-transform: uppercase;
		font-weight: 700;
	}
	*/ }
  .apsa-footer a {
    color: white; }
    .apsa-footer a:hover {
      color: #ededed; }
  .apsa-footer ul {
    list-style: none;
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0; }
  .apsa-footer ul li ul {
    text-transform: capitalize;
    font-weight: 500; }
  .apsa-footer ul ul {
    margin-bottom: 1.8em; }
  .apsa-footer ul li {
    margin-right: 20px;
    min-width: 200px;
    vertical-align: top; }

.apsa-footer-bottom {
  padding: 10px 0px;
  background: #121212;
  font-size: 12px; }

.footer-contact h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 700; }

.fa-twitter {
  font-size: 1.8rem;
  color: #fff; }

.copyright {
  font-size: 0.625em; }

/* User Profile */
.views-field-field-user-first-name {
  display: inline-block;
  padding-right: 0.3em;
  font-size: 1.25em; }

.views-field-field-user-last-name {
  display: inline-block;
  font-size: 1.25em; }

#block-views-block-member-profile-block-1 .field-content {
  font-weight: 700; }

.apsa-member-profile {
  padding-bottom: 2em; }

/* Latest Updates */
.views-field {
  text-align: left; }

.latest-updates ul {
  list-style: none;
  padding: 0 0 0 0; }
  .latest-updates ul li {
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    border-bottom: #ddd solid 1px; }
    .latest-updates ul li:last-child {
      border-bottom: none;
      padding-bottom: 3em; }

.latest-updates .pager ul li {
  border-bottom: none; }

.latest-updates .field-content {
  padding: 0px 20px 0px 10px; }
  @media (min-width: 992px) {
    .latest-updates .field-content {
      padding: 0px 20px; } }

.latest-updates-date {
  text-align: right;
  font-size: 1.375em;
  line-height: 1.625em; }
  @media (min-width: 992px) {
    .latest-updates-date {
      font-size: 1.625em; } }

.latest-updates-title {
  font-size: 22px;
  font-size: 1.375em; }
  @media (min-width: 992px) {
    .latest-updates-title {
      font-size: 1.625em; } }

/* Workshops */
.bajapsa-ws-row {
  padding-top: 0.8em;
  padding-bottom: 1.0em; }

.workshops .field-content {
  padding: 0px 20px 0px 10px; }
  @media (min-width: 992px) {
    .workshops .field-content {
      padding: 0px 20px; } }

.workshops-date {
  text-align: right;
  font-size: 1.375em;
  line-height: 1.2em; }
  @media (min-width: 992px) {
    .workshops-date {
      font-size: 1.625em; } }

.workshops-time {
  font-size: 1.25em; }

.workshops-title {
  font-size: 22px;
  font-size: 1.375em;
  line-height: 1.2em; }
  @media (min-width: 992px) {
    .workshops-title {
      font-size: 1.625em; } }

.workshops-duration {
  font-style: italic; }

.workshops-location {
  font-weight: 700; }

.workshops-details .field-content {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

/* events */
.apsa-event-title {
  font-size: 1.25em;
  font-weight: 700; }

.apsa-event-container {
  padding-bottom: 2em; }

.apsa-event-checkbox {
  padding-top: 0.3em;
  padding-bottom: 0.8em; }
  .apsa-event-checkbox label {
    font-weight: 700; }

/* pager */
.pager {
  padding-top: 1.2em; }
  .pager li a, .pager li span {
    background-color: none;
    border: none;
    border-radius: 10px; }
  .pager li a:hover,
  .pager li a:focus {
    text-decoration: none;
    background-color: #ddd; }

li.pager__item.is-active {
  font-weight: 700; }
  li.pager__item.is-active a {
    color: #003F64; }

/* Add Committee Page Form */
.node-committee-page-form .form-details {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 15px; }

.node-committee-page-form .form-item label {
  display: block;
  font-size: 1.0em; }

.node-committee-page-form .form-item.form-item-body-0-format label {
  display: inline-block; }

.node-committee-page-form .description {
  font-size: 0.75em;
  font-style: italic; }

.node-committee-page-form .form-text, .node-committee-page-form .form-textarea {
  width: 100%;
  max-width: 500px; }

.node-committee-page-form details h3 {
  display: inline-block;
  padding-left: 6px; }

.node-committee-page-form .vertical-tabs, .node-committee-page-form .vertical-tabs__menu, .node-committee-page-form .vertical-tabs__menu-item, .node-committee-page-form .filter-wrapper {
  border: none; }

.node-committee-page-form .filter-help a {
  padding: 0 12px 0; }
  .node-committee-page-form .filter-help a:after {
    right: -10px; }

.node-committee-page-form .field--name-field-committeepage-image {
  border-bottom: 1px solid #ccc; }

.node-committee-page-form .field--name-field-committeepage-files {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

.link-edit-summary {
  border: none;
  background-color: white;
  color: #498fe1;
  padding: 0 6px;
  font-size: 0.857em;
  font-weight: 400; }
  .link-edit-summary:hover, .link-edit-summary:focus, .link-edit-summary:active {
    color: #003F64; }

/*--------------------------------------------------------------
# Misc Drupal
--------------------------------------------------------------*/
.alert-message {
  padding: 10px 0;
  /* border: #f00 solid 2px; */
  border-radius: 10px;
  color: #fff;
  text-align: center;
  margin: 10px;
  background-color: rgba(0, 63, 100, 0.35); }
